* {
  background-color: white;
}

/*TITULO H1*/

.titulo {
  color: white;
  margin-top: 3rem;
  background-image: linear-gradient(to right, #c651cd, #8739f9);
}

/* IMAGENES DE TABLA */

img {
  width: 13rem;
}
