* {
    background-color: #363636;
    
}


    /*TITULO H1*/

    .titulo{
        color: white;
        margin-top: 3rem;
        background-image: linear-gradient(to right, #C651CD  , #8739F9);
       }

    /* IMAGENES DE TABLA */

    img{
        width: 13rem;
    }
