* {
  box-sizing: border-box;
}


/*NAVBAR*/

.navbar {
  background-color: #242424;
  border-bottom: 1px solid transparent;
}

.dropdownStyles {
  color: white;
}

.dropdownStyles:hover,
.dropdownStyles:focus,
.dropdownStyles:active,
.dropdownStyles.show {
  color: #c651cd !important;
}

.navItemStyles {
  color: white;
}
.navItemStyles:focus,
.navItemStyles:active,
.navItemStyles:hover {
  color: #c651cd;
}

.dropdown-menu {
  background-color: #363636;
  padding: 0px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.dropdown-item {
  background-color: #363636;
  color: white;
}
.dropdown-item:hover {
  background-color: #363636;
  color: #c651cd;
  box-shadow: 1px 1px 1px 1px grey;
}
.dropdown-item:focus {
  background-color: #363636;
  color: #c651cd;
  box-shadow: 1px 1px 1px 1px grey;
}
.dropdown-item:active {
  background-color: #363636;
  color: #c651cd;
  box-shadow: 1px 1px 1px 1px grey;
}

.searchInputStyles {
  background-color: #363636;
  color: white;
  border-color: #8739f9;
  box-shadow: 1px 1px 1px 1px #8739f9;
}
.searchInputStyles:focus {
  background-color: #363636;
  color: white;
  border-color: #8739f9;
  box-shadow: 1px 1px 1px 1px #8739f9;
}
.searchInputStyles::placeholder {
  color: white;
}

.searchIconImg {
  background-size: cover;
  background-position: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding: 3px;
}
.buttonSearchStyles {
  width: 40px;
  height: 40px;
  border: solid #8739f9 1px !important;
  border-radius: 50%;
  padding: 0px;
  box-shadow: 1px 1px 1px 1px #8739f9;
}
ul#suggestions.list-group {
  background-color: #363636;
  border: none;
  overflow: hidden;
}
li.list-group-item {
  background-color: #363636;
  color: white;
  border: none;
}
li.list-group-item:hover,
li.list-group-item:focus,
li.list-group-item:active {
  background-color: #363636;
  color: #c651cd;
  border: none;
}

button.navbar-toggler {
  border: 1px solid #8739f9;
  color: #8739f9;
  background-color: #363636;
}
button.navbar-toggler.collapsed {
  border: 3px solid #8739f9;
  color: #8739f9;
  background-color: #363636;
}

.input-group {
  position: relative; /* Agregamos esta propiedad */
}

#suggestions {
  position: absolute;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;
  z-index: 999;
  margin-top: 0;
  padding-left: 0;
  top: 100%; /* Agregamos esta propiedad */
  left: 0; /* Agregamos esta propiedad */
}

.list-group-item {
  cursor: pointer;
}
.logged-in {
  background: rgb(59, 0, 41);
  background: radial-gradient(
    circle,
    #8330ff46,
    rgba(0, 0, 0, 1) 58%,
    #1c0c35,
    #160a29
  );
}

img.avatar-img {
  width: 50px;
  height: 50px;
  border: 2px solid #8739f9;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0.5px 0.5px 6px 1px #8739f9;
}

.imgPrueba {
  background-image: url(ruta_de_la_imagen.jpg);
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 300px;
}

@media screen and (min-width: 1024px) {
  .dropdown:hover .dropdown-menu {
    display: block !important;
  }
  .dropdown:focus .dropdown-menu {
    display: block !important;
  }
  .dropdown .dropdown-menu.show {
    display: none !important;
  }
}

body {
  background-color: #363636;
  color: rgba(255, 255, 255, 0.96);
}

/*product details*/
.product-detail{
  margin-top: 10rem;
}
.imgSize {
  width: 60px;
}
.imgBoxStyles {
  padding: 0.3rem;
  margin: 0.1rem;
  border-style: solid;
  border-width: 1px;
  border-color: blueviolet;
}
.deliveryIcon {
  padding: 1px;
  border-radius: 3px;
  background-color: rgb(168, 168, 168);
  width: 25px;
  height: 25px;
}
.designBar {
  margin: auto;
  width: 80%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(137, 43, 226, 0.705);
}

.buyNowButton {
  background-color: #8739f9;
  color: white;
  font-size: large;
}

.buyNowButton:hover {
  background-color: #8639f9ad;
  color: white;
}

.addToCartButton {
  background-color: rgb(141, 141, 141);
  color: white;
}



.addToCartButton:hover {
  background-color: rgba(141, 141, 141, 0.664);
  color: white;
}

.textBoxContainer {
  background-color: #242424;
  border-style: solid;
  border-width: 1px;
  border-color: #8739f9;
  border-radius: 0.6rem;
  padding: 1rem;
  padding-bottom: 1rem;
}
.sumTextBox {
  padding-top: 1rem;
  border-top: 0.5px solid rgba(0, 0, 0, 0.651);
  height: 150px;
  margin: auto;
  overflow: hidden;
}

.fullTextBox {
  height: auto;
}

.inputQuestionBox {
  height: 100px;
  vertical-align: text-top;
}

.inputQuestionBox:focus {
  border-color: #8739f9;
  box-shadow: 0.5px 0.5px 6px 1px #8739f9;
}

.questionBox {
  background-color: #242424;
  padding: 10px;
  border-radius: 0.4rem;
}
#userName {
  border-bottom: 0.5px solid #8739f9;
  border-right: 0.5px solid #8739f9;
}
#userQuestion {
  border-bottom: 0.5px solid #8739f9;
}


/*carousel cards */
.carousel-one .text-center{
  color: white;
  margin-top: 3rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(to right, #C651CD  , #8739F9)
}


.carousel-inner .col-4{
  background: linear-gradient(-45deg,#C651CD, #8739F9);
    background-size: 600% 100%;
    animation: gradient 5s linear infinite;
    animation-direction: alternate;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}


/*title questions*/
 .col-lg-9 h1{
  font-family: Impact, Charcoal, sans-serif;Charcoal, sans-serif;
  -webkit-text-stroke-width: 0.9px;
    -webkit-text-stroke-color: black;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
            background-clip: text;
    background-image:-webkit-linear-gradient(90deg, #C651CD 5%, #e5097f 100%);
  
}
/*question box*/
.btn-enviar{
   background-color:#C651CD ;
  font-size: 20px;
  color: white;
  border-radius: 10px;
}

.btn-enviar:hover{
  background-color: #e5097f;
  color: black;
}



/* FOOTER */
  footer{
    margin-top: 10rem;
  }
 .col-md-2 p {
  color:#C651CD ;
  
 }
 .col-md-2 p:hover{
  color: white;
 }

 .me-5 span{
  color: white;
  font-weight: 600;
  font-family: 'Poppins',sans-serif;
 }

 .col-md-2 h6{
  color: white;
 }

 .col-md-3 p{
  color: #C651CD;
 }
 .col-md-3 p:hover{
   color: white;
  right: 15px;
 }

 .col-md-3 h6{
  color: white;

 }


 .col-md-4 p{
  color: #C651CD;
 }

 .col-md-4 h6{
  color: white;
 }

 .col-md-4 p i{
  color: #C651CD;
 }

 .text-center .text-reset{
  color:#C651CD ;
 }

 .me-4 img{
   transition: transform .2s;
 }

 .me-4 img:hover{
  transform: scale(1.5); 
 }

 .col-md-4 a{
  text-decoration: none;
  color: white;
  font-size: 17px;
 }

.productsInProcess{
  text-decoration: none;
  color: white;
}

.formInputStyles {
  border-width: 2px;
  border-color: #8739f9;
}

.formInputStyles:focus {
  border-color: #8739f9;
  box-shadow: 1px 1px 1px 1px #8739f9;
}