body {
  background-image: url(/assets/photos/enConstruccion.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.mainBox {
  background-color: #363636;
  margin-top: 20rem;
  border-radius: 50px;
}

h4 {
  color: white;
}

.btn{
  background-color: #C651CD;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.btn:hover{
  background-color:#8739F9;
  color: white;
  
}}
