* {
  box-sizing: border-box;
}

/*NAVBAR*/

.navbar {
  border-bottom: 1px solid transparent;
  box-shadow: 3px 9px 15px 0 rgba(2, 0, 0, 0.2);
}
.nav-item .nav-link {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
  font-weight: 400;
}
.nav-item a:hover {
  color: #c651cd;
}
.nav-item .dropdown-item:hover {
  color: #8739f9;
  background-color: #dcdcdc;
}
.navbar-nav .nav-item .active {
  color: white;
}
.navbar-nav img {
  width: 90px;
  height: 30px;
}
.btn-cart {
  border-radius: 20px;
  border-color: #c651cd;
  font-family: "Poppins", sans-serif;
}
.btn-cart:hover {
  background-color: #8739f9;
}
.navbar-nav .nav-item {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
}
.navbar-nav .nav-item:hover {
  color: #c651cd;
}

/* REGISTRO E IMAGEN */

body {
  background-color: #363636;
  color: rgba(255, 255, 255, 0.96);
}
.mainBox {
  background-color: #242424;
  border-radius: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  border-style: solid;
  border-width: 1px;
  border-color: #8739f9;
}
.colorTextoH5 {
  color: rgba(255, 255, 255, 0.67);
}
.colorBotonRegistrarse {
  background-color: #8739f9;
  color: white;
  font-size: large;
}
.colorBotonRegistrarse:hover {
  background-color: #8639f9ad;
  color: white;
}
.avatar-option {
  display: inline-block;
  position: relative;
  cursor: pointer;
  width: 70px;
}

.avatar-option input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.avatar-option img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.avatar-option input[type="radio"]:checked + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #8739f9;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0.5px 0.5px 6px 1px #8739f9;
}
.inputColor:focus {
  border-color: #8739f9;
  box-shadow: 0.5px 0.5px 6px 1px #8739f9;
}
@media (min-width: 576px) {
  .mainBox {
    margin-bottom: 20%;
    margin-top: 30%;
  }
}
@media (min-width: 768px) {
  .mainBox {
    margin-bottom: 20%;
    margin-top: 30%;
  }
}
@media (min-width: 992px) {
  .mainBox {
    margin-inline: 15%;
    margin-bottom: 20%;
    margin-top: 30%;
  }
}

/* FOOTER */

footer {
  margin-top: 10rem;
}
.col-md-2 p {
  color: #c651cd;
}
.col-md-2 p:hover {
  color: white;
}
.me-5 span {
  color: white;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.col-md-2 h6 {
  color: white;
}
.col-md-3 p {
  color: #c651cd;
}
.col-md-3 p:hover {
  color: white;
  right: 15px;
}
.col-md-3 h6 {
  color: white;
}
.col-md-4 p {
  color: #c651cd;
}
.col-md-4 h6 {
  color: white;
}
.col-md-4 p i {
  color: #c651cd;
}
.text-reset p {
  color: white;
  font-size: 15px;
}
.me-4 img {
  transition: transform 0.2s;
}
.me-4 img:hover {
  transform: scale(1.5);
}
.col-md-4 a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}
